<!--Scripts for the Quiz-->
<script src="/app.js"></script>
<script src="/equation.js"></script>
<script src="/question.js"></script>
<script src="/quiz_controller.js"></script>

<p class="text-center text-muted">© Copyright 2020 Simple Math</p>

<p id="progress">Question x of y.</p>